

.white {
  background-color: #fff;
}

.black {
  background-color: #000;
}

.green {
  background-color: rgb(0, 133, 7);
}

.orange {
  background-color: rgb(219, 168, 28);
}

.red {
  background-color: rgb(148, 17, 17);
}

.blue {
  background-color: rgb(8, 97, 148);
}