html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.setMode {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #323232;
}

.setMode p {
  margin: 0 0 0 1rem;
  color: #fff;
}

.setMode .buttons {
  height: 100%;
  display: flex;
}

.setMode .buttons button {
  padding: 0 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  background: #323232;
  transition: 0.3s all;
}

.setMode .buttons button.toggleBarrier:hover,
.setMode .buttons button.toggleBarrier.active {
  background-color: #1a1a1a;
  transition: 0.3s all;
}

.setMode .buttons button.setStart:hover,
.setMode .buttons button.setStart.active {
  background-color: #125a14;
  transition: 0.3s all;
}

.setMode .buttons button.setEnd:hover,
.setMode .buttons button.setEnd.active {
  background-color: rgb(219, 168, 28);
  transition: 0.3s all;
}

.setMode .buttons button.startAStar:hover,
.setMode .buttons button.startAStar.active,
.setMode .buttons button.reset:hover {
  background-color: #12235a;
  transition: 0.3s all;
}

.map {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

.map .mapHolder{
  width: fit-content;
}

.map .mapHolder .row {
  display: flex;
}

.map .mapHolder .row button {
  padding: 15px 18px;
  display: flex;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
}

.map .mapHolder .row:first-child button {
  border-top: 2px solid #000;
}

.map .mapHolder .row button:first-child {
  border-left: 2px solid #000;
}

.map .mapHolder .row:first-child button:first-child {
  border-top-left-radius: 5px;
}

.map .mapHolder .row:first-child button:last-child {
  border-top-right-radius: 5px;
}

.map .mapHolder .row:last-child button:first-child {
  border-bottom-left-radius: 5px;
}

.map .mapHolder .row:last-child button:last-child {
  border-bottom-right-radius: 5px;
}

.white {
  background-color: #fff;
  color: #fff;
}

.black {
  background-color: #1a1a1a;
  color: #1a1a1a;
}

.green {
  background-color: #125a14;
  color: #125a14;
}

.orange {
  background-color: rgb(219, 168, 28);
  color: rgb(219, 168, 28);
}

.red {
  background-color: rgb(148, 17, 17);
  color: rgb(148, 17, 17);
}

.blue {
  background-color: #12235a;
  color: #12235a;
}

@media screen and (max-width: 500px) {
  .setMode {
    flex-direction: column;
    height: 10vh;
  }

  .setMode p {
    margin: 0;
    padding: 5px;
  }
}

@media screen and (max-width: 450px) {
  .map .mapHolder .row button {
    padding: 8px 10px;
  }
}

@media screen and (max-width: 350px) {
  .map .mapHolder .row button {
    padding: 8px 10px;
  } 
}